<?xml version="1.0" encoding="utf-8"?>

<configuration>
    
    <configSections>
        <section name="parsingarguments" type="System.Configuration.AppSettingsSection, System.Configuration" />
        <section name="accounts" type="System.Configuration.AppSettingsSection, System.Configuration" />
    </configSections>

    <accounts configSource="accounts.config" />
    <parsingarguments configSource="parsingarguments.config" />

</configuration>